<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Medical</string>
		<key>categories</key>
		<array>
			<string>Conditions</string>
			<string>Past Surgeries</string>
			<string>Current Medicines</string>
			<string>Doctors Info</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Allergies</string>
		<key>categories</key>
		<array>
			<string>Food</string>
			<string>Medicine</string>
			<string>Other</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Diet</string>
		<key>categories</key>
		<array>
			<string>General</string>
			<string>Occasional</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Religion/Spirituality</string>
		<key>categories</key>
		<array>
			<string>Type</string>
			<string>Place of worship</string>
			<string>Advisor</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Politics</string>
		<key>categories</key>
		<array>
			<string>Party</string>
			<string>Voting Habits</string>
			<string>Conspiricies</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Mother</string>
		<key>categories</key>
		<array>
			<string>Name</string>
			<string>Birthday</string>
			<string>Likes</string>
			<string>Dislikes</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Father</string>
		<key>categories</key>
		<array>
			<string>Name</string>
			<string>Birthday</string>
			<string>Likes</string>
			<string>Dislikes</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Brother(s)</string>
		<key>categories</key>
		<array>
			<string>Name(s)</string>
			<string>Birthday</string>
			<string>Likes</string>
			<string>Dislikes</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Sister(s)</string>
		<key>categories</key>
		<array>
			<string>Name(s)</string>
			<string>Birthday</string>
			<string>Likes</string>
			<string>Dislikes</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Children</string>
		<key>categories</key>
		<array>
			<string>Name(s)</string>
			<string>Birthday</string>
			<string>Likes</string>
			<string>Dislikes</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Pets</string>
		<key>categories</key>
		<array>
			<string>Type</string>
			<string>Issues</string>
			<string>Name</string>
		</array>
	</dict>
</array>
</plist>
