<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Shirt</string>
		<key>Sex</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>Pants</string>
		<key>Sex</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>Dress</string>
		<key>Sex</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>Bra</string>
		<key>Sex</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>Underwear</string>
		<key>Sex</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>Waist/belt</string>
		<key>Sex</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>Ring</string>
		<key>Sex</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>Shoe</string>
		<key>Sex</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>Hat</string>
		<key>Sex</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>Jacket</string>
		<key>Sex</key>
		<string>2</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Collar</string>
		<key>Sex</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>Sleeve</string>
		<key>Sex</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>Chest</string>
		<key>Sex</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>Glove</string>
		<key>Sex</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>Inseam</string>
		<key>Sex</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>Shorts</string>
		<key>Sex</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>Panty</string>
		<key>Sex</key>
		<integer>2</integer>
	</dict>
</array>
</plist>
