<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>None</string>
	<string>Every Day</string>
	<string>Every Week</string>
	<string>Every 2 Weeks</string>
	<string>Every Month</string>
	<string>Every Year</string>
</array>
</plist>
